.Button {
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    background-color: #e50914;
    color: #fff;
    min-height: 37px;
    cursor: pointer;
    width: 100%;
    display: block;
    border: none;
    padding: 1rem 0;
    box-sizing: border-box;
}